<!-- Used by theme-essays-builtin-1 -->

<div class="card">
  {% if include.page.image %}
    <div class="image">
      <img src="{{ site.baseurl }}/{{ include.page.image }}">
    </div>
  {% endif %}
  <div class="content">
    <span class="header">{{ include.page.title }}</span>
    <div class="meta">
      <span class="date">{{ include.page.date | date-format="YYYY" }}</span>
    </div>

    <div class="description">
      {{ include.page.content | markdownify | strip_html | truncatewords: 40 }}
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      {% for label in include.page.labels %}
        <div class="ui basic label">{{ label }}</div>
      {% endfor %}
    </div>
  </div>

  <a class="ui bottom attached button"> </a>
</div>



